<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
    <title>Главная</title>
</head>
<body>
    <header>
        <nav class="uk-navbar-container" uk-navbar style="margin-bottom: 10px">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="http://localhost:5000">Главная</a></li>
                    <% if (!isAuth) { %>
                        <li class="uk-active"><a href="http://localhost:5000/auth/login">Вход</a></li>
                        <li class="uk-active"><a href="http://localhost:5000/auth/signup">Регистрация</a></li>
                    <% } %>
                    <li class="uk-activate"><a href="http://localhost:5000/promocodes/create" class="uk-icon-link" uk-icon="plus-circle"></a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-activate"><a href="http://localhost:5000/auth/login" class="uk-icon-link" uk-icon="user"></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="uk-text-center uk-child-width-1-2@s uk-child-width-1-5@m" uk-grid>
            <% if (promocodes && promocodes.length) { %>
                <% for (var i = 0; i < promocodes.length; i++) { %>
                    <% const promocode = promocodes[i]; %>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                            <a href="http://localhost:5000/promocodes/update/1" class="uk-icon-link uk-position-right uk-padding-small" uk-icon="pencil"></a>
                            <h3 class="uk-card-title"><%= promocode.productName %></h3>
                            <p><%= promocode.description %></p>
                            <p><%= `${promocode.saleSize}%` %></p>
                            <a href="<%= promocode.productUrl %>"> <%= promocode.productUrl %> </a>
                            <h4><%= promocode.code %></h4>
                        </div>
                    </div>
                <%}%>
            <%}%>
        </div>

    </main>

    <script>
        async function createPromocode() {
            const productName = document.pomocode_create_input.productName.value;
            const productUrl = document.pomocode_create_input.productUrl.value;
            const saleSize = document.pomocode_create_input.saleSize.value;
            const description = document.pomocode_create_input.description.value;
            console.log({
                productName,
                productUrl,
                saleSize,
                description
            },)

            await fetch('http://localhost:5000/promocodes', {
                method: 'POST',
                body: {
                    productName,
                    productUrl,
                    saleSize,
                    description
                },
            }).catch(e => {
                console.log(e);
                if (e.code === 401) {
                    console.log('Unauthorized');
                }
            });
        }

        function showAuthInput() {

        }

        function login() {

        }

    </script>
</body>
</html>
