<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <title>Главная</title>
</head>
<body>
    <header>
        <nav class="uk-navbar-container" uk-navbar style="margin-bottom: 10px">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="http://localhost:5000">Главная</a></li>
                    <% if (!isAuth) { %>
                        <li class="uk-active"><a href="http://localhost:5000/auth/login">Вход</a></li>
                        <li class="uk-active"><a href="http://localhost:5000/auth/signup">Регистрация</a></li>
                    <% } %>
                    <li class="uk-activate"><a href="http://localhost:5000/promocodes/create" class="uk-icon-link" uk-icon="plus-circle"></a></li>
                </ul>
            </div>
            <% if (isAuth) { %>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-activate"><a href="http://localhost:5000/users" class="uk-icon-link" uk-icon="user"></a></li>
                    </ul>
                </div>
            <% } %>
        </nav>
    </header>
    <main>
        <div class="uk-text-center uk-child-width-1-2@s uk-child-width-1-5@m" uk-grid>
            <% if (promocodes && promocodes.length) { %>
                <% for (var i = 0; i < promocodes.length; i++) { %>
                    <% const promocode = promocodes[i]; %>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                            <h3 class="uk-card-title"><%= promocode.productName %></h3>
                            <p><%= promocode.description %></p>
                            <p><%= `${promocode.saleSize}%` %></p>
                            <a href="<%= promocode.productUrl %>"> <%= promocode.productUrl %> </a>
                            <h4><%= promocode.code %></h4>
                        </div>
                    </div>
                <%}%>
            <%}%>
        </div>

    </main>
</body>
<script>
  const socket = io("ws://localhost:5000");

  socket.onopen(e =>{
    console.log('Connected');

    socket.on('msgToClient', (message) => {
      UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Message with an icon'})
    });
  });

  socket.onclose(e => console.log('Closed'))
</script>
</html>
